{% extends "subpage_layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="all"/>
    <script src="/static/js/capture.js"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

    <div class="contentarea">

      <div class="camera">
        <video id="video">Video stream not available.</video>
        <button id="startbutton">Take photo (one face please)</button>
      </div>
      <div class="example">
          <img height="400" src="static/images/joy.png"/>
      </div>
      <canvas id="canvas">
      </canvas>

        <form class="form-inline" method="post">
          <input id="photo1" type = "text" name = "file" />
        </form>
    </div>

    <div id="wrapper" style="width:1020px; display:table;">
    <div id="jsonOutput" style="width:600px; display:table-cell;">
        Response:
        <br><br>
<!--         <textarea id="responseTextArea" class="UIInput" style="width:580px; height:400px;"></textarea> -->
<img id="emotionResult" height="400"/>
    </div>
    <div id="imageDiv" style="width:420px; display:table-cell;">
        Source image:
        <br><br>
        <img id="sourceImage" width="400" />
    </div>
</div>

{% endblock %}
