<!-- <div class="hero-head" style="background-image: url({{ url_for('static', filename='img/header.png') }})"> -->
	<div class="hero-head">
	<header class="nav">
		<div class="container is-widescreen">
			<div class="nav-center">
				<a class="nav-item"  id="nav_logo">
					<img src="{{ url_for('static', filename='img/kaomoji.png') }}">
					<h1 class="title app-name">KAOMOJI</h1>
				</a>
			</div>

			<span class="nav-toggle">
				<span></span>
				<span></span>
				<span></span>
			</span>

		</div>
	</header>
</div>
